<nav class="navbar navbar-lg navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">skybook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <h1> Posts</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{#each posts}}
                <h2>{{author}}</h2>
                <h2>{{Title}}</h2>
                <p>{{body}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>